#home
  .home-overlay
  .overlay-shadow
  .video-background.hide-opacity
    .video-foreground 
      #home-video
  .home-overlay-content.wow.fadeInRight
    .container
      .row
        .twelve.columns
          div The good thing about drones
          div is that they rock
  #home-body
    include home_services
