#home
  width 100%
  height 100%
  .home-overlay
    background rgba(0,0,0,0.3)
    position fixed
    top 0
    left 0
    right 0
    bottom 0
  .home-overlay-content
    font-size 60px
    position absolute
    top 400px
    left 20px
    line-height 0.8
    color white
    font-weight 300