#home
  .home-overlay
  .overlay-shadow
    img(src="src/overlay-video.png")
  .video-background.hide-opacity
    .video-foreground 
      #home-video
  .home-overlay-content
    .container
      .row
        .twelve.columns
          div The good thing about drones
          div is that they rock
  .go-down
    .container
      .row
        .five.columns
        .two.columns
          .down-arrow
            img(src="src/arrow-down.png")
        .five.columns
  #home-body
    include home_services
