#home
  .home-overlay
  .video-background.hide-opacity
    .video-foreground 
      #home-video
  .home-overlay-content
    .container
      .row
        .twelve.columns
          div The good thing about drones
          br
          div is that they rock
#home-body
  include sections/home_updates
  include sections/home_services
      
