#home-updates
  .container
    .row
      .twelve.column
        h2 Updates
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        
        #home-updates-grid
          .row.update-grid-row
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080")
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080")
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080")
          .row.update-grid-row
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080")
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080")
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080") 
          .row.update-grid-row
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080")
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080")
            .four.columns
              .update-thumb
                img.update-thumb-pic(src="https://dummyimage.com/hd1080")    
              // A grid with recently uploaded video and images will be added here. When :hover
              // an overlay appears with a short description of the video
          .row
            .twelve.columns
              hr.standard-ruler
