#footer
  height 15vh
  background-color lightgray
  padding-top 15px
  width 100%
  p
    margin-bottom 10px
  .footer-social
    width 30px
    height 30px
    border-radius 50%
    background-color darken(lightgray, 50%)
    float left
    margin 0px 10px 0px 0px
