html
  head
    title Vuelos Aires - Home

    meta(charset="UTF-8")
    meta(name="description" content="Vuelos Aires - Altas tomas")
    meta(name="viewport" content='width=device-width, initial-scale=1, user-scalable=no')

    link(rel="shortcut icon" href="./favicon.ico")
    link(href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,500|Open+Sans:100,200,300,400,500,600,700,800,900" rel="stylesheet" type="text/css")
    script(src="https://use.fontawesome.com/6d5af535ce.js")
    link(rel="stylesheet" type="text/css" href="dist/css/style.css")
  body
    include nav
    .inner-body.hide
      .container
        .main-content
    include scripts
