#main-nav
  .container
    .main-nav-inner
      a(href="/#")
        #va-logo
      ul.nav-items
        li
          a(href="#") Servicios
          ul.inner-nav-list
            li
              a(href="#/publicidad") Publicidad
            li
              a(href="/#/turism") Turismo
            li
              a(href="/#/real_state") Inmobiliaria
        li
          a(href="/#/about") Sobre Nosotros
        li
          a(href="/#/policy") Nuestras Politicas
        li
          a(href="/#/contact") Contacto
