#main-nav
  position fixed
  width 100%
  height 50px
  background-color #222228
  color rgb(200, 200, 200)
  font-size 12px
  z-index 1
  .main-nav-inner
    height 50px
  #va-logo
    display inline-block
    width 60px
    height 30px
    background-color #fafafa
    margin 10px 30px 0 10px
  .nav-items
    display inline-block
    padding 0
    vertical-align top
    li
      position relative
      display inline-block
      margin 0
      padding 15px 20px
      cursor pointer
      transition color 0.2s ease-in-out
      @media screen and (max-width: $tablet)
        display none
      &:hover
        color white
        .inner-nav-list
          opacity 1
          pointer-events all
          transform translate(-50%, 0)
    .mobile-menu
      display none
      @media screen and (max-width: $tablet)
        display inline-block
        font-size 1.2em
      a
        color inherit
  .inner-nav-list
    position absolute
    top 85%
    left 50%
    background-color #444448
    border-radius 3px
    margin 0
    font-weight 300
    transform translate(-50%, 10px)
    opacity 0
    pointer-events none
    perspective 800px
    transform-style preserve-3d
    backface-visibility hidden
    font-size 12px
    transition transform 0.2s ease-in-out, opacity 0.2s ease-in-out
    li
      display block
      text-align center
      padding 10px
      margin 0
      background-color transparent
      transition background-color 0.2s ease-in-out
      &:first-child
        border-top-left-radius 3px
        border-top-right-radius 3px
        &:before
          content ''
          position absolute
          top -6px
          left 50%
          transform translateX(-50%)
          width 0
          height 0
          border-style solid
          border-width 0 8px 6px 8px
          border-color transparent transparent #444448 transparent
          transition border-color 0.2s ease-in-out
      &:last-child
        border-bottom-left-radius 3px
        border-bottom-right-radius 3px
      &:hover
        background-color #666668
        &:first-child
          &:before
            border-color transparent transparent #666668 transparent
