#contact
  .container
    .row
      .six.columns
        h1.first-title Contáctenos
        p 
          - var n = 0;
          while n < 20
            span= contactDescription
            - n++
      .six.columns
        form#contact-form
          row
            .twelve.columns
              label(for="emailInput") Email
              input.u-full-width#emailInput(placeholder="ejemplo@mail.com" type="email")
            .twelve.columns
              label(for="contactReason") Motivo de Contacto
              select.u-full-width#contactReason
                option(value="Option 1") Consulta
                option(value="Option 2") Presupuesto
                option(value="Option 3") Servicios
          row
            label(for="message") Mensaje
            textarea.u-full-width#message(placeholder='Hola Vuelos Aires! ...')
          row
            input.button-primary(value='Enviar' type='submit')
