h1 Acerca de nosotros
p Vuelos Aires es una empresa Argentina que presta servicios de blablabla

.about-carousel
  .carousel-item
    img(src="http://placehold.it/350x150")
  .carousel-item
    img(src="http://placehold.it/350x160")
  .carousel-item
    img(src="http://placehold.it/350x170")
