//- This can't have an ID of #publicidad cause the adblocker blocks it
#publicidad-service.service-section
  .overlay-shadow
    img(src="src/overlay-video.png")
  .video-background.hide-opacity
    .video-foreground 
      #advertising-video
  .advertising-overlay-content
    .container
      .row
        .twelve.columns
          div Desde el aire tu proyecto
          div se ve mejor
  .go-down
    .container
      .row
        .five.columns
        .two.columns
          .down-arrow
            img(src="src/arrow-down.png")
        .five.columns

  #advertising-body
    .section-inner.container
      .row
        .twelve.columns
          .section-title= title
          .section-description= description
      .row
        .twelve.columns
          .section-carousel
            each val in carouselImages
              .carousel-image
                img(src=val.image1.value.main.url)
