// Import vendor modules
  // Normalize css
  @import 'includes/normalize.css';
  // Skeleton framework http://getskeleton.com/
  @import 'includes/skeleton.css';
  // Pace
  @import 'includes/pace';
  // Animate css (Used by WOW.js)
  @import 'includes/animate.css';
  // Full screen video from codePen https://codepen.io/dudleystorey/pen/PZyMrd
  @import 'includes/full-screen-video.css';
  // Slick carousel
  @import '../../node_modules/slick-carousel/slick/slick.css';
  @import 'includes/slick-customize';

// Import local modules
  // Variables
  @import 'includes/vars.styl';
  // General modules
  @import 'includes/base';
  @import 'includes/layout';
  @import '../js/views/base/notfound';
  @import '../js/views/base/nav';
  @import '../js/views/base/service-section';
  @import '../js/views/base/footer'
  // Sections
  @import '../js/views/home/home';
  @import '../js/views/about/about';
  @import '../js/views/contact/contact';
  @import '../js/views/policy/policy';
  //"Services" sub-sections
  @import '../js/views/real_state/real_state';
  @import '../js/views/turism/turism';
